<section *ngIf="book_() as book" class="book-preview">
  <header>
    <img [src]="book.cover" />
    <section class="details">
      <h1>{{ book.title }}</h1>
      <section *ngIf="!!book.authors.length">
        <h2 class="title">Authors:</h2>
        <div class="names">
          <p *ngFor="let author of book.authors">{{ author.name }}</p>
        </div>
      </section>
      <section *ngIf="!!book.languages.length" class="languages">
        <h2 class="title">Languages:</h2>
        <p>{{ langName.of(book.languages[0]) }}</p>
      </section>
      <section class="downloads" *ngIf="book.download_count as downloads">
        <h2 class="title">Downloads:</h2>
        <p>{{ downloads }}</p>
      </section>
      <section class="btns">
        <button (click)="onAddToFavorites()">Add to favorites</button>
        <a [routerLink]="['/book', book.id, 'txt']">Read</a>
      </section>
    </section>
  </header>
  <main>
    <books-quotes [bookId]="book.id" />
  </main>
</section>
