<header>
  <a routerLink="" class="logo">
    <mat-icon svgIcon="logo" />
  </a>
  <h1>Sign in to MyBooks</h1>
</header>
<main>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="!networkErr">
    <div>
      <p>Email:</p>
      <input formControlName="email" type="email" required />
      <p *ngIf="!loginForm.value.email && loginForm.invalid && isErr">
        Please enter a valid email.
      </p>
    </div>
    <div>
      <p>Password:</p>
      <input formControlName="password" required />
      <p *ngIf="!loginForm.value.password && loginForm.invalid && isErr">
        Password is required.
      </p>
    </div>
    <button>Submit</button>
    <p>Forgot your password?</p>
    <a routerLink="/resetPassword">Reset password</a>
    <section>
      <p>New to MyBooks?</p>
      <a routerLink="/signup">Create an account</a>
    </section>
  </form>
  <p *ngIf="errMsg">{{ errMsg }}</p>
  <button *ngIf="networkErr" routerLink="/">Go to Search</button>
</main>
