.signup {
  display: flex;
  .left-bg {
    width: 50vw;
    height: 100vh;
    background-image: url("../../../../assets/books-bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
    .blur {
      width: 100%;
      height: 100%;
      padding-top: 35vh;
      backdrop-filter: blur(3px);
      .text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: max-content;
        padding: 10px 20px;
        h1 {
          font-size: 2rem;
          text-shadow: 1px 1px 1px black;
        }
        p {
          font-size: 1.125rem;
          text-shadow: 1px 1px 1px black;
        }
      }
    }
  }
  .signup-section {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    height: 100vh;
    .signup-header {
      padding: 10px 10px 0 0;
      display: flex;
      justify-content: end;
      width: 100%;
      font-size: 0.875rem;
      gap: 10px;
      line-height: 1.5;
    }
    .signup-main {
      display: flex;
      justify-content: center;
      height: 100%;
      .cover {
        width: 100%;
        margin: 42px;
        padding: 24px;
        .label {
          font-size: 25px;
          font-weight: 600;
          line-height: 30px;
          margin-bottom: 24px;
        }
        form {
          .inputs {
            label {
              input {
                border-color: darkgrey;
                margin-top: 4px;
                margin-bottom: 16px;
                width: 100%;
                &:focus {
                  border-color: var(--outline-focus);
                  outline-color: var(--outline-focus);
                }
              }
              input:has(+ p) {
                margin-bottom: 6px;
              }
              input + p {
                margin-bottom: 6px;
              }
            }
          }
          .btn {
            cursor: pointer;
            width: 100%;
            margin-top: 16px;
            border: none;
            background-color: rgb(53, 53, 54);
            height: 48px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: whitesmoke;
            &:hover {
              background-color: rgb(60, 60, 63);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .signup{
    .left-bg{
      display: none;
    }
    .signup-section{
      width: 100vw;
      min-width: 350px;
    }
  }
}
