.books:has(.empty) {
  display: grid;
  place-items: center;
}

.books {
  max-width: 100%;
  display: flex;
  align-content: center;
  .empty {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    .icon{
      color: var(--background-color);
      align-self: center;
      font-size: 200px;
    }
  }
  .list {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 150px));
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .books {
    margin-bottom: 150px;
    .list {
      grid-template-columns: repeat(2, minmax(100px, 150px));
    }
  }
}
