.books {
  max-width: 100%;
  display: flex;
  align-content: center;
  .list {
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 150px));
    gap: 40px;
  }
}

@media (max-width: 800px) {
  .books {
    margin-bottom: 150px;
    .list {
      grid-template-columns: repeat(2, minmax(100px, 150px));
    }
  }
}
