.confirm-main {
  display: flex;
  .left-bg {
    width: 50vw;
    height: 100vh;
    background-image: url("../../../../assets/books-bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
    .text {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: max-content;
      h1 {
        margin-top: 35vh;
        font-size: 2rem;
        text-shadow: 1px 1px 1px black;
      }
      p {
        font-size: 1.125rem;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
  .confirm-section {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
  }
}
