<section class="confirm-main">
  <section class="left-bg">
    <div class="text">
      <h1>Create your free account</h1>
      <p>A thousand books are waiting for you</p>
    </div>
  </section>
  <section class="confirm-section">
    <ng-container>
      <div *ngIf="showForm; else errorMsg" class="container">
        <h1 class="title">Confirm Email</h1>
        <form
          [formGroup]="confirmForm"
          (submit)="onSubmitForm()"
          (input)="isErr = false"
        >
          <section class="email-info">
            <p class="txt">
              We sent a code to <strong>{{ email }}</strong
              >. Please check your email.
            </p>
          </section>
          <div class="resend">
            <p>Didn't get a code?</p>
            <p *ngIf="countdown > 0">{{ countdown }}</p>
            <button
              (click)="onSendAgain()"
              type="button"
              [disabled]="countdown > 0"
              class="btn"
            >
              Send Again
            </button>
          </div>
          <div class="code-submit">
            <label class="input-holder">
              <p class="label">Code:</p>
              <input
                type="text"
                placeholder="Enter the code"
                formControlName="code"
                class="input"
              />
              <p *ngIf="!confirmForm.value.code && isErr" class="alert">
                This input cant be empty.
              </p>
              <p *ngIf="confirmForm.value.code && isErr" class="alert">
                Incorrect code.
              </p>
            </label>
            <div class="btns">
              <button type="submit" class="confirm">Confirm</button>
              <a routerLink="/signup" class="back">Back</a>
            </div>
          </div>
        </form>
      </div>
      <ng-template #errorMsg>
        <div class="err">
          <h1 class="title">Something is wrong...</h1>
          <p class="text">
            This email already verified or doesn't exist in our system.
          </p>
          <a routerLink="/signup" class="btn">Go back</a>
        </div>
      </ng-template>
    </ng-container>
  </section>
</section>
