.confirm-main {
  display: flex;
  .left-bg {
    width: 50vw;
    height: 100vh;
    background-image: url("../../../../assets/books-bg.jpg");
    background-position: center;
    background-size: cover;
    text-align: left;
    color: white;
    .text {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: max-content;
      h1 {
        margin-top: 35vh;
        font-size: 2rem;
        text-shadow: 1px 1px 1px black;
      }
      p {
        font-size: 1.125rem;
        text-shadow: 1px 1px 1px black;
      }
    }
  }
  .confirm-section {
    display: grid;
    place-content: center;
    width: 50vw;
    height: 100vh;

    .title {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
    }
    .err {
      .title {
        text-align: left !important;
        margin-bottom: 0;
      }
      .text {
        margin-bottom: 10px;
      }
      .btn {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 20px;
        border-radius: 6px;
        background-color: var(--button-blue-bg);
        color: var(--button-text-white);
        &:hover {
          background-color: var(--button-blue-bg-hover);
        }
      }
    }
    .txt {
      margin-bottom: 5px;
    }
    .resend {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 10px;
      .btn {
        cursor: pointer;
        padding: 5px 10px;
        border: none;
        color: whitesmoke;
        background-color: rgb(18, 56, 112);
        border-radius: 6px;
        &:hover {
          background-color: rgb(25, 69, 136);
        }
      }
    }
    .code-submit {
      display: flex;
      align-items: end;
      .input-holder {
        margin-bottom: 10px;
        .label {
          font-size: 1.125rem;
          margin-bottom: 5px;
        }
      }
      .btns {
        display: flex;
        padding: 10px;
        gap: 10px;
        margin-bottom: 2px;
        align-items: center;
        .confirm {
          padding: 5px 10px;
          border: none;
          background-color: rgb(19, 102, 19);
          border-radius: 6px;
          color: whitesmoke;
          font-size: 1rem;
          font-weight: 500;
          &:hover {
            background-color: rgb(22, 128, 22);
          }
        }
        .back {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
