.header {
  box-shadow: rgba(9, 30, 66, 0.15) 0px 0.1rem 0.1rem 0px;
  .header-main {
    margin: 0 auto;
    max-width: 1060px;
    min-width: 480px;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      font-size: 24px;
      gap: 5px;
      margin: 10px 20px;
      text-decoration: none;
      color: var(--ds-text);
    }
    .navigation {
      align-self: center;
      margin-right: 20px;
      .list {
        display: flex;
        gap: 20px;
        a {
          cursor: pointer;
          text-decoration: none;
          color: var(--ds-text);
        }
      }
    }
  }
  
  
  @media (max-width: 1100px) {
    .header-main{
      min-width: 200px;
      padding-right: 20px;
    }
    
  }
  @media (max-width: 450px) {
    .header-main{
      min-width: 50px;
      padding-right: 20px;
    }
    
    
  }
}