.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  .details {
    display: flex;
    .img-cover {
      cursor: pointer;
      .img {
        width: 250px;
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
  .favorite-books {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    ::ng-deep .books {
      .list {
        grid-template-columns: repeat(5, minmax(100px, 150px)) !important;
      }
    }
  }
}
