.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  .details {
    display: flex;
    .img-cover {
      cursor: pointer;
      margin: 10px 30px ;
      .img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .txt{
      align-content: center;
      .name{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .email{
        opacity: .8;
      }
    }
  }
  .favorite-books {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    ::ng-deep .books {
      .list {
        grid-template-columns: repeat(5, minmax(100px, 150px)) !important;
      }
    }
    .disable{
      pointer-events: none;
    }
    .empty-fav{
      justify-self: center;
      margin-top: 20vh;
      .title{
        font-size: 2rem;
        font-weight: 600;
      }
      .text{
        font-size: 20px;
        margin-bottom: 10px;
      }
      .btn{
        background-color: var(--button-blue-bg);
        color: var(--button-text-white);
        font-size: 16px;
        font-weight: 500;
        border-radius: 6px;
        padding: 10px 20px;
        width: 100%;
        &:hover{
          background-color: var(--button-blue-bg-hover);
        }
      }
    }
  }
}
