<section class="profile">
  <header class="details">
    <label class="img-cover">
      <input type="file" style="display: none" (change)="onSubmit($event)" />
      <div
        [ngStyle]="{
          'background-image': user?.imgUrl
            ? 'url(' + user?.imgUrl + ')'
            : 'url(../../../assets/avatar.jpg)'
        }"
        class="img"
      ></div>
    </label>
    <div class="txt">
      <h3 class="name">{{ user?.fullName }}</h3>
      <p class="email">{{ user?.email }}</p>
    </div>
  </header>
  <main class="favorite-books">
    <search-panel
      [onSetFilter]="onSearch"
      class="{{ !isLoading && !favBooksInfo.books.length ? 'disable' : '' }}"
    />
    <loading *ngIf="isLoading" />
    <books
      [books]="favBooksInfo.books"
      *ngIf="!isLoading && favBooksInfo.books.length"
    />
    <pagination
      [totalItems]="favBooksInfo.results"
      [itemsPerPage]="5"
      [onSetPage]="onSetPage"
      *ngIf="!isLoading && favBooksInfo.results > BooksPerPage"
    />
    <div *ngIf="!isLoading &&!favBooksInfo.books.length" class="empty-fav">
      <h1 class="title">There is no books already!</h1>
      <p class="text">Want to add some?</p>
      <button class="btn" routerLink="/">Search books</button>
    </div>
  </main>
</section>
