<section class="profile">
  <header class="details">
    <label class="img-cover">
      <input type="file" style="display: none" (change)="onSubmit($event)" />
      <div
        [ngStyle]="{
          'background-image': user?.imgUrl
            ? 'url(' + user?.imgUrl + ')'
            : 'url(../../../assets/avatar.jpg)'
        }"
        class="img"
      ></div>
    </label>
    <div class="txt">
      <h3 class="name">{{ user?.fullName }}</h3>
      <p class="email">{{ user?.email }}</p>
    </div>
  </header>
  <main class="favorite-books">
    <search-panel [onSetFilter]="onSearch" />
    <loading *ngIf="isLoading" />
    <books [books]="favBooksInfo.books" *ngIf="!isLoading" />
    <pagination
      [totalItems]="favBooksInfo.results"
      [itemsPerPage]="5"
      [onSetPage]="onSetPage"
      *ngIf="!isLoading && favBooksInfo.results > BooksPerPage"
    />
  </main>
</section>
